/******************** 总容器 **********************/
.wrapper {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}
/******************** header **********************/
header {
    width: 100%;
    height: 15.7vw;
    box-sizing: border-box;
    background-color: #fff;

    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.6vw;
}
header .fa{
    font-size: 8vw;
    user-select: none;
    cursor: pointer;
}

ul{
    width: 86vw;
    margin: 0 auto;
}
ul li{
    width: 100%;
    height: 14vw;
    border-bottom: solid 1px #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li .left{
    user-select: none;
    cursor: pointer;
}
ul li .left p:first-child{
    color: #555;
    font-size: 3.3vw;
}
ul li .left p:last-child{
    color: #333;
    font-size: 4.2vw;
    font-weight: 600;
}
wl li .right{
    font-size: 4vw;
    color: #e6a23c;
}
/******************** footer **********************/
footer {
    width: 100%;
    height: 14.2vw;
    box-sizing: border-box;
    border-top: solid 1px #e9e9e9;
    background-color: #fff;

    position: fixed;
    bottom: 0;
    left: 0;

}
footer ul {
    width: 100%;
    height: 14.2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3vw;
    color: #999;

    user-select: none;
    cursor: pointer;
}
footer ul li.fa{
    font-size: 5vw;
}
/******************** common **********************/
.top-ban{
    width: 100%;
    height: 15.7vw;
}
.bottom-ban{
    width: 100%;
    height: 26.2vw;
}
/******************** section **********************/
section{
    width: 86vw;
    margin: 0 auto;
}
section .title{
    width: 100%;
    height: 12vw;
    border-bottom: solid 1px #eee;

    display: flex;
    align-items: center;
}
section .title p{
    height: 3.4vw;
    line-height: 3.4vw;
    font-size: 4.2vw;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 3vw;
    border-left: solid 2px #127a90;
}
section .table{
    font-size: 3.6vw;
    color: #555;
    margin-top: 2vw;
}
section table tr{
    line-height: 8vw;
}
section table tr first-child{
    width: 22%;
}

/******************** bottom-btn **********************/
.bottom-btn{
    width: 100%;
    height: 12vw;
    background-color: #fff;

    position: fixed;
    left: 0;
    bottom: 14.2vw;

    display: flex;

}
.bottom-btn .first{
    flex: 2;
    line-height: 12vw;
    font-size: 4.6vw;
    box-sizing: border-box;
    padding-left: 6vw;
}
.bottom-btn .first span{
    color: #f77b2d;
}
.bottom-btn .last{
    flex: 1;
    background-color: #117C94;
    line-height: 12vw;
    text-align: center;
    font-size: 5vw;
    color: #fff;

    user-select: none;
    cursor: pointer;
}