/******************** 总容器 **********************/
.wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg，#266C9F,#266C9F,#7EB059);

}
/*******************标题部分***********************/
h1{
    text-align: center;
    color: #FFF;
    font-size: 9.5vw;
    font-weight: 500;
    margin-top: 13vh;
    margin-bottom: 9vh;
}